#tb{
    border-collapse: collapse;
    width: 500px;
}
#tb th{
    background-color: cadetblue;
    text-align: center;
    color: cornsilk;
}
#tb tr.alt td{
    background-color: darkgray;
    text-align: left;
    color: black;
}
#tb th{
    border: 1px solid blueviolet;
    padding: 2px;
}
